<h1>Nueva compra</h1>

<% form_for(@compra) do |f| %>
  <%= f.error_messages %>

<table>
  <tr>
    <th>Foto</th>
    <th>Producto</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>Subtotal</th>
  </tr>
  <% @suma = 0 %>
  <% session[:carrito].each do |item| %>
    <tr>
      <%= hidden_field_tag "producto[#{item.id}][id]", item.id %>
      <td><%= item.ver_foto %></td>
      <td><%= item.nombre %></td>
      <td><%= item.precio %></td>
      <td><%= item.cantidad %></td>
      <td style="text-align:right"><%= item.subtotal %></td>
    </tr>
    <% @suma += item.subtotal %>
  <% end %>
  <tr>
    <td style="text-align:right" colspan="4"><strong>Total:</strong></td>
    <td style="text-align:right"><strong><%= @suma %></strong></td>
  </tr>
</table>
  <%= f.submit "Pagar" %>
<% end %>

<%= link_to 'Seguir comprando', carrito_compras_path, :class => "comprar_mas" %>
