<h1>Editing usuario</h1>

<% form_for(@usuario) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>

  <% if admin? %>
  <p>
    <%= f.label :tipo %><br />
    <%= f.select :tipo, Usuario::TIPOS, {:include_blank => true} %>
  </p>
  <% end %>

  <p>
    <%= f.label :fecha_nacimiento %><br />
    <%= f.date_select :fecha_nacimiento %>
  </p>
  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>

<%= link_to 'Ver', @usuario %> 
<% if admin? %>
  |
  <%= link_to 'Lista', usuarios_path %>
<% end %>
