<h1>Nuevo usuario</h1>

<% form_for(@usuario) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </p>
  <p>
    <%= f.label :login %><br />
    <%= f.text_field :login %>
  </p>
  <p>
    <%= f.label :pass, "Contraseña" %><br />
    <%= f.password_field :pass %>
  </p>
  <p>
    <%= f.label :pass_confirmation, "Confirmación de contraseña" %><br />
    <%= f.password_field :pass_confirmation %>
  </p>

  <% if admin? %>
  <p>
    <%= f.label :tipo %><br />
    <%= f.select :tipo, Usuario::TIPOS, {:include_blank => true} %>
  </p>
  <% end %>

  <p>
    <%= f.label :fecha_nacimiento %><br />
    <%= f.date_select :fecha_nacimiento %>
  </p>
  <p>
    <%= f.submit 'Crear' %>
  </p>
<% end %>

<% if admin? %>
  <%= link_to 'Lista', usuarios_path %>
<% end %>
