<p>
  <b>Nombre:</b>
  <%=h @usuario.nombre %>
</p>

<p>
  <b>Login:</b>
  <%=h @usuario.login %>
</p>

<p>
  <b>Fecha nacimiento:</b>
  <%=h I18n.l(@usuario.fecha_nacimiento, :format=> "%d %B de %Y") %>
</p>


<%= link_to 'Editar', edit_usuario_path(@usuario) %> 
<% if admin? %>
  |
  <%= link_to 'Lista', usuarios_path %>
<% end %>
